@import "tailwindcss";
/* font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

@theme{
    --color-mainbg: #222222;
    --color-cardbg: #303030;
}

@layer base{ 
  h1, h2, h3, h4, p { 
    @apply text-white; 
    font-family: "Sora", sans-serif;
  }
	p{
		@apply font-light;
	}
  input, textarea, button, label{
    font-family: "Sora", sans-serif;
		@apply font-light;
  }
} 

@layer components{
    .contact-me-input{
        @apply text-white placeholder-gray-400 text-base pb-1 pl-1 border-b-2 border-gray-600 focus:border-orange-500 transition-all bg-transparent outline-none hover:border-gray-500 w-full;
    }
    
    .contact-me-button{
        @apply bg-orange-500 hover:bg-orange-600 text-white font-semibold py-3 px-8 rounded-full w-full duration-300 ease-linear sm:w-auto cursor-pointer;
    }
}

@media (min-width: 768px) {
  .md\:text-lg { font-size: 1.125rem; line-height: 1.75rem; }
}

/* some custom css thingy */

.main-container {
    position: relative;
    color: #000;
    outline: none;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    transition: 0.5s ease-in-out;
}
.main-container::before,
.main-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #4B5563);
}
.main-container::before {
    top: 0;
    left: -100%;
    animation: main-container-animation1 5s linear infinite;
}
.main-container::after {
    bottom: 0;
    right: -100%;
    animation: main-container-animation1 5s linear infinite 0.75s;
}
@keyframes main-container-animation1 {
    0% {
      left: -100%;
      right: 100%;
    }
    50% {
      left: 100%;
      right: -100%;
    }
    100% {
      left: -100%;
      right: 100%;
    }
}
@keyframes main-container-animation2 {
    0% {
      top: -100%;
      bottom: 100%;
    }
    50% {
      top: 100%;
      bottom: -100%;
    }
    100% {
      top: -100%;
      bottom: 100%;
    }
}